h1{
    text-align: center;
    color: white;
}

#title{
    width: 100%;
    background-color: blue;
}

#cautare{
    width: 100%;
}


label{
    font-size: large;
}


input{
    width: 100%;
    height: 45px;
    align-items: left;
    font-size: large;
}


#addButton:hover{
    background-color: blue;
}